<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>与demo里的配置一一对应且同步,这里仅是提供一个可操作的面板菜单而已</string>
			<key>Title</key>
			<string>iOS SDK Demo</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJBUFBfSUQiOiJQSC1DU1AiLCJleHAiOjE2Njk0NzY2MzMsIm5iZiI6MTY2ODc1NjYzM30.8hGD3LD71ie41gN0ehLean7z5Fnph3bElXEDsbAc7X4 </string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>mmas_token</string>
			<key>Title</key>
			<string>录屏Token</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>stg1</string>
			<key>DisplaySortedByTitle</key>
			<true/>
			<key>Key</key>
			<string>default-env</string>
			<key>Title</key>
			<string>环境切换</string>
			<key>Titles</key>
			<array>
				<string>prd</string>
				<string>stg1</string>
				<string>stg2</string>
				<string>stg3</string>
				<string>stg4</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>prd</string>
				<string>stg1</string>
				<string>stg2</string>
				<string>stg3</string>
				<string>stg4</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>demo-click-effect</string>
			<key>Title</key>
			<string>点击效果</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>shield-effect</string>
			<key>Title</key>
			<string>遮罩蒙层</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>sw-exception-catch</string>
			<key>Title</key>
			<string>异常捕获(保活一次)</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Key</key>
			<string>sw-echarts-display</string>
			<key>Title</key>
			<string>录屏结束展示性能图表📈</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0.0</string>
			<key>Key</key>
			<string>SDKVersion</string>
			<key>Title</key>
			<string>SDK版本</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>更多信息</string>
			<key>File</key>
			<string>child</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
