<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SFSymbol.Indices.plist
   SFSymbolsPreview

   Created by YICAI YANG on 2020/5/28.
   Copyright (c) 2020 YICAI YANG. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>questionmark.circle</string>
        <string>questionmark.circle.fill</string>
        <string>questionmark.square</string>
        <string>questionmark.square.fill</string>
        <string>exclamationmark.circle</string>
        <string>exclamationmark.circle.fill</string>
        <string>exclamationmark.square</string>
        <string>exclamationmark.square.fill</string>
        <string>a.circle</string>
        <string>a.circle.fill</string>
        <string>b.circle</string>
        <string>b.circle.fill</string>
        <string>c.circle</string>
        <string>c.circle.fill</string>
        <string>d.circle</string>
        <string>d.circle.fill</string>
        <string>e.circle</string>
        <string>e.circle.fill</string>
        <string>f.circle</string>
        <string>f.circle.fill</string>
        <string>g.circle</string>
        <string>g.circle.fill</string>
        <string>h.circle</string>
        <string>h.circle.fill</string>
        <string>i.circle</string>
        <string>i.circle.fill</string>
        <string>j.circle</string>
        <string>j.circle.fill</string>
        <string>k.circle</string>
        <string>k.circle.fill</string>
        <string>l.circle</string>
        <string>l.circle.fill</string>
        <string>m.circle</string>
        <string>m.circle.fill</string>
        <string>n.circle</string>
        <string>n.circle.fill</string>
        <string>o.circle</string>
        <string>o.circle.fill</string>
        <string>p.circle</string>
        <string>p.circle.fill</string>
        <string>q.circle</string>
        <string>q.circle.fill</string>
        <string>r.circle</string>
        <string>r.circle.fill</string>
        <string>s.circle</string>
        <string>s.circle.fill</string>
        <string>t.circle</string>
        <string>t.circle.fill</string>
        <string>u.circle</string>
        <string>u.circle.fill</string>
        <string>v.circle</string>
        <string>v.circle.fill</string>
        <string>w.circle</string>
        <string>w.circle.fill</string>
        <string>x.circle</string>
        <string>x.circle.fill</string>
        <string>y.circle</string>
        <string>y.circle.fill</string>
        <string>z.circle</string>
        <string>z.circle.fill</string>
        <string>dollarsign.circle</string>
        <string>dollarsign.circle.fill</string>
        <string>centsign.circle</string>
        <string>centsign.circle.fill</string>
        <string>yensign.circle</string>
        <string>yensign.circle.fill</string>
        <string>sterlingsign.circle</string>
        <string>sterlingsign.circle.fill</string>
        <string>francsign.circle</string>
        <string>francsign.circle.fill</string>
        <string>florinsign.circle</string>
        <string>florinsign.circle.fill</string>
        <string>turkishlirasign.circle</string>
        <string>turkishlirasign.circle.fill</string>
        <string>rublesign.circle</string>
        <string>rublesign.circle.fill</string>
        <string>eurosign.circle</string>
        <string>eurosign.circle.fill</string>
        <string>dongsign.circle</string>
        <string>dongsign.circle.fill</string>
        <string>indianrupeesign.circle</string>
        <string>indianrupeesign.circle.fill</string>
        <string>tengesign.circle</string>
        <string>tengesign.circle.fill</string>
        <string>pesetasign.circle</string>
        <string>pesetasign.circle.fill</string>
        <string>pesosign.circle</string>
        <string>pesosign.circle.fill</string>
        <string>kipsign.circle</string>
        <string>kipsign.circle.fill</string>
        <string>wonsign.circle</string>
        <string>wonsign.circle.fill</string>
        <string>lirasign.circle</string>
        <string>lirasign.circle.fill</string>
        <string>australsign.circle</string>
        <string>australsign.circle.fill</string>
        <string>hryvniasign.circle</string>
        <string>hryvniasign.circle.fill</string>
        <string>nairasign.circle</string>
        <string>nairasign.circle.fill</string>
        <string>guaranisign.circle</string>
        <string>guaranisign.circle.fill</string>
        <string>coloncurrencysign.circle</string>
        <string>coloncurrencysign.circle.fill</string>
        <string>cedisign.circle</string>
        <string>cedisign.circle.fill</string>
        <string>cruzeirosign.circle</string>
        <string>cruzeirosign.circle.fill</string>
        <string>tugriksign.circle</string>
        <string>tugriksign.circle.fill</string>
        <string>millsign.circle</string>
        <string>millsign.circle.fill</string>
        <string>sheqelsign.circle</string>
        <string>sheqelsign.circle.fill</string>
        <string>manatsign.circle</string>
        <string>manatsign.circle.fill</string>
        <string>rupeesign.circle</string>
        <string>rupeesign.circle.fill</string>
        <string>bahtsign.circle</string>
        <string>bahtsign.circle.fill</string>
        <string>larisign.circle</string>
        <string>larisign.circle.fill</string>
        <string>bitcoinsign.circle</string>
        <string>bitcoinsign.circle.fill</string>
        <string>0.circle</string>
        <string>0.circle.fill</string>
        <string>1.circle</string>
        <string>1.circle.fill</string>
        <string>2.circle</string>
        <string>2.circle.fill</string>
        <string>3.circle</string>
        <string>3.circle.fill</string>
        <string>4.circle</string>
        <string>4.circle.fill</string>
        <string>5.circle</string>
        <string>5.circle.fill</string>
        <string>6.circle</string>
        <string>6.circle.fill</string>
        <string>7.circle</string>
        <string>7.circle.fill</string>
        <string>8.circle</string>
        <string>8.circle.fill</string>
        <string>9.circle</string>
        <string>9.circle.fill</string>
        <string>10.circle</string>
        <string>10.circle.fill</string>
        <string>11.circle</string>
        <string>11.circle.fill</string>
        <string>12.circle</string>
        <string>12.circle.fill</string>
        <string>13.circle</string>
        <string>13.circle.fill</string>
        <string>14.circle</string>
        <string>14.circle.fill</string>
        <string>15.circle</string>
        <string>15.circle.fill</string>
        <string>16.circle</string>
        <string>16.circle.fill</string>
        <string>17.circle</string>
        <string>17.circle.fill</string>
        <string>18.circle</string>
        <string>18.circle.fill</string>
        <string>19.circle</string>
        <string>19.circle.fill</string>
        <string>20.circle</string>
        <string>20.circle.fill</string>
        <string>21.circle</string>
        <string>21.circle.fill</string>
        <string>22.circle</string>
        <string>22.circle.fill</string>
        <string>23.circle</string>
        <string>23.circle.fill</string>
        <string>24.circle</string>
        <string>24.circle.fill</string>
        <string>25.circle</string>
        <string>25.circle.fill</string>
        <string>26.circle</string>
        <string>26.circle.fill</string>
        <string>27.circle</string>
        <string>27.circle.fill</string>
        <string>28.circle</string>
        <string>28.circle.fill</string>
        <string>29.circle</string>
        <string>29.circle.fill</string>
        <string>30.circle</string>
        <string>30.circle.fill</string>
        <string>31.circle</string>
        <string>31.circle.fill</string>
        <string>32.circle</string>
        <string>32.circle.fill</string>
        <string>33.circle</string>
        <string>33.circle.fill</string>
        <string>34.circle</string>
        <string>34.circle.fill</string>
        <string>35.circle</string>
        <string>35.circle.fill</string>
        <string>36.circle</string>
        <string>36.circle.fill</string>
        <string>37.circle</string>
        <string>37.circle.fill</string>
        <string>38.circle</string>
        <string>38.circle.fill</string>
        <string>39.circle</string>
        <string>39.circle.fill</string>
        <string>40.circle</string>
        <string>40.circle.fill</string>
        <string>41.circle</string>
        <string>41.circle.fill</string>
        <string>42.circle</string>
        <string>42.circle.fill</string>
        <string>43.circle</string>
        <string>43.circle.fill</string>
        <string>44.circle</string>
        <string>44.circle.fill</string>
        <string>45.circle</string>
        <string>45.circle.fill</string>
        <string>46.circle</string>
        <string>46.circle.fill</string>
        <string>47.circle</string>
        <string>47.circle.fill</string>
        <string>48.circle</string>
        <string>48.circle.fill</string>
        <string>49.circle</string>
        <string>49.circle.fill</string>
        <string>50.circle</string>
        <string>50.circle.fill</string>
        <string>a.square</string>
        <string>a.square.fill</string>
        <string>b.square</string>
        <string>b.square.fill</string>
        <string>c.square</string>
        <string>c.square.fill</string>
        <string>d.square</string>
        <string>d.square.fill</string>
        <string>e.square</string>
        <string>e.square.fill</string>
        <string>f.square</string>
        <string>f.square.fill</string>
        <string>g.square</string>
        <string>g.square.fill</string>
        <string>h.square</string>
        <string>h.square.fill</string>
        <string>i.square</string>
        <string>i.square.fill</string>
        <string>j.square</string>
        <string>j.square.fill</string>
        <string>k.square</string>
        <string>k.square.fill</string>
        <string>l.square</string>
        <string>l.square.fill</string>
        <string>m.square</string>
        <string>m.square.fill</string>
        <string>n.square</string>
        <string>n.square.fill</string>
        <string>o.square</string>
        <string>o.square.fill</string>
        <string>p.square</string>
        <string>p.square.fill</string>
        <string>q.square</string>
        <string>q.square.fill</string>
        <string>r.square</string>
        <string>r.square.fill</string>
        <string>s.square</string>
        <string>s.square.fill</string>
        <string>t.square</string>
        <string>t.square.fill</string>
        <string>u.square</string>
        <string>u.square.fill</string>
        <string>v.square</string>
        <string>v.square.fill</string>
        <string>w.square</string>
        <string>w.square.fill</string>
        <string>x.square</string>
        <string>x.square.fill</string>
        <string>y.square</string>
        <string>y.square.fill</string>
        <string>z.square</string>
        <string>z.square.fill</string>
        <string>dollarsign.square</string>
        <string>dollarsign.square.fill</string>
        <string>centsign.square</string>
        <string>centsign.square.fill</string>
        <string>yensign.square</string>
        <string>yensign.square.fill</string>
        <string>sterlingsign.square</string>
        <string>sterlingsign.square.fill</string>
        <string>francsign.square</string>
        <string>francsign.square.fill</string>
        <string>florinsign.square</string>
        <string>florinsign.square.fill</string>
        <string>turkishlirasign.square</string>
        <string>turkishlirasign.square.fill</string>
        <string>rublesign.square</string>
        <string>rublesign.square.fill</string>
        <string>eurosign.square</string>
        <string>eurosign.square.fill</string>
        <string>dongsign.square</string>
        <string>dongsign.square.fill</string>
        <string>indianrupeesign.square</string>
        <string>indianrupeesign.square.fill</string>
        <string>tengesign.square</string>
        <string>tengesign.square.fill</string>
        <string>pesetasign.square</string>
        <string>pesetasign.square.fill</string>
        <string>pesosign.square</string>
        <string>pesosign.square.fill</string>
        <string>kipsign.square</string>
        <string>kipsign.square.fill</string>
        <string>wonsign.square</string>
        <string>wonsign.square.fill</string>
        <string>lirasign.square</string>
        <string>lirasign.square.fill</string>
        <string>australsign.square</string>
        <string>australsign.square.fill</string>
        <string>hryvniasign.square</string>
        <string>hryvniasign.square.fill</string>
        <string>nairasign.square</string>
        <string>nairasign.square.fill</string>
        <string>guaranisign.square</string>
        <string>guaranisign.square.fill</string>
        <string>coloncurrencysign.square</string>
        <string>coloncurrencysign.square.fill</string>
        <string>cedisign.square</string>
        <string>cedisign.square.fill</string>
        <string>cruzeirosign.square</string>
        <string>cruzeirosign.square.fill</string>
        <string>tugriksign.square</string>
        <string>tugriksign.square.fill</string>
        <string>millsign.square</string>
        <string>millsign.square.fill</string>
        <string>sheqelsign.square</string>
        <string>sheqelsign.square.fill</string>
        <string>manatsign.square</string>
        <string>manatsign.square.fill</string>
        <string>rupeesign.square</string>
        <string>rupeesign.square.fill</string>
        <string>bahtsign.square</string>
        <string>bahtsign.square.fill</string>
        <string>larisign.square</string>
        <string>larisign.square.fill</string>
        <string>bitcoinsign.square</string>
        <string>bitcoinsign.square.fill</string>
        <string>0.square</string>
        <string>0.square.fill</string>
        <string>1.square</string>
        <string>1.square.fill</string>
        <string>2.square</string>
        <string>2.square.fill</string>
        <string>3.square</string>
        <string>3.square.fill</string>
        <string>4.square</string>
        <string>4.square.fill</string>
        <string>5.square</string>
        <string>5.square.fill</string>
        <string>6.square</string>
        <string>6.square.fill</string>
        <string>7.square</string>
        <string>7.square.fill</string>
        <string>8.square</string>
        <string>8.square.fill</string>
        <string>9.square</string>
        <string>9.square.fill</string>
        <string>10.square</string>
        <string>10.square.fill</string>
        <string>11.square</string>
        <string>11.square.fill</string>
        <string>12.square</string>
        <string>12.square.fill</string>
        <string>13.square</string>
        <string>13.square.fill</string>
        <string>14.square</string>
        <string>14.square.fill</string>
        <string>15.square</string>
        <string>15.square.fill</string>
        <string>16.square</string>
        <string>16.square.fill</string>
        <string>17.square</string>
        <string>17.square.fill</string>
        <string>18.square</string>
        <string>18.square.fill</string>
        <string>19.square</string>
        <string>19.square.fill</string>
        <string>20.square</string>
        <string>20.square.fill</string>
        <string>21.square</string>
        <string>21.square.fill</string>
        <string>22.square</string>
        <string>22.square.fill</string>
        <string>23.square</string>
        <string>23.square.fill</string>
        <string>24.square</string>
        <string>24.square.fill</string>
        <string>25.square</string>
        <string>25.square.fill</string>
        <string>26.square</string>
        <string>26.square.fill</string>
        <string>27.square</string>
        <string>27.square.fill</string>
        <string>28.square</string>
        <string>28.square.fill</string>
        <string>29.square</string>
        <string>29.square.fill</string>
        <string>30.square</string>
        <string>30.square.fill</string>
        <string>31.square</string>
        <string>31.square.fill</string>
        <string>32.square</string>
        <string>32.square.fill</string>
        <string>33.square</string>
        <string>33.square.fill</string>
        <string>34.square</string>
        <string>34.square.fill</string>
        <string>35.square</string>
        <string>35.square.fill</string>
        <string>36.square</string>
        <string>36.square.fill</string>
        <string>37.square</string>
        <string>37.square.fill</string>
        <string>38.square</string>
        <string>38.square.fill</string>
        <string>39.square</string>
        <string>39.square.fill</string>
        <string>40.square</string>
        <string>40.square.fill</string>
        <string>41.square</string>
        <string>41.square.fill</string>
        <string>42.square</string>
        <string>42.square.fill</string>
        <string>43.square</string>
        <string>43.square.fill</string>
        <string>44.square</string>
        <string>44.square.fill</string>
        <string>45.square</string>
        <string>45.square.fill</string>
        <string>46.square</string>
        <string>46.square.fill</string>
        <string>47.square</string>
        <string>47.square.fill</string>
        <string>48.square</string>
        <string>48.square.fill</string>
        <string>49.square</string>
        <string>49.square.fill</string>
        <string>50.square</string>
        <string>50.square.fill</string>
    </array>
</plist>
