<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Health.plist
   SFSymbolsPreview

   Created by YICAI YANG on 2020/5/28.
   Copyright (c) 2020 YICAI YANG. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>heart</string>
        <string>heart.fill</string>
        <string>heart.circle</string>
        <string>heart.circle.fill</string>
        <string>bandage</string>
        <string>bandage.fill</string>
        <string>bed.double</string>
        <string>bed.double.fill</string>
        <string>waveform.path.ecg</string>
        <string>staroflife</string>
        <string>staroflife.fill</string>
    </array>
</plist>
