<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SFSymbol.Objects&Tools.plist
   SFSymbolsPreview

   Created by YICAI YANG on 2020/5/28.
   Copyright (c) 2020 YICAI YANG. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>pencil</string>
        <string>pencil.circle</string>
        <string>pencil.circle.fill</string>
        <string>pencil.slash</string>
        <string>square.and.pencil</string>
        <string>pencil.and.ellipsis.rectangle</string>
        <string>pencil.and.outline</string>
        <string>trash</string>
        <string>trash.fill</string>
        <string>trash.circle</string>
        <string>trash.circle.fill</string>
        <string>trash.slash</string>
        <string>trash.slash.fill</string>
        <string>folder</string>
        <string>folder.fill</string>
        <string>folder.circle</string>
        <string>folder.circle.fill</string>
        <string>folder.badge.plus</string>
        <string>folder.fill.badge.plus</string>
        <string>folder.badge.minus</string>
        <string>folder.fill.badge.minus</string>
        <string>folder.badge.person.crop</string>
        <string>folder.fill.badge.person.crop</string>
        <string>paperplane</string>
        <string>paperplane.fill</string>
        <string>tray</string>
        <string>tray.fill</string>
        <string>tray.and.arrow.up</string>
        <string>tray.and.arrow.up.fill</string>
        <string>tray.and.arrow.down</string>
        <string>tray.and.arrow.down.fill</string>
        <string>tray.2</string>
        <string>tray.2.fill</string>
        <string>tray.full</string>
        <string>tray.full.fill</string>
        <string>archivebox</string>
        <string>archivebox.fill</string>
        <string>bin.xmark</string>
        <string>bin.xmark.fill</string>
        <string>arrow.up.bin</string>
        <string>arrow.up.bin.fill</string>
        <string>calendar</string>
        <string>calendar.circle</string>
        <string>calendar.circle.fill</string>
        <string>calendar.badge.plus</string>
        <string>calendar.badge.minus</string>
        <string>book</string>
        <string>book.fill</string>
        <string>book.circle</string>
        <string>book.circle.fill</string>
        <string>bookmark</string>
        <string>bookmark.fill</string>
        <string>rosette</string>
        <string>paperclip</string>
        <string>paperclip.circle</string>
        <string>paperclip.circle.fill</string>
        <string>rectangle.and.paperclip</string>
        <string>link</string>
        <string>link.circle</string>
        <string>link.circle.fill</string>
        <string>pencil.tip</string>
        <string>pencil.tip.crop.circle</string>
        <string>pencil.tip.crop.circle.badge.plus</string>
        <string>pencil.tip.crop.circle.badge.minus</string>
        <string>umbrella</string>
        <string>umbrella.fill</string>
        <string>speaker</string>
        <string>speaker.fill</string>
        <string>speaker.slash</string>
        <string>speaker.slash.fill</string>
        <string>speaker.zzz</string>
        <string>speaker.zzz.fill</string>
        <string>speaker.1</string>
        <string>speaker.1.fill</string>
        <string>speaker.2</string>
        <string>speaker.2.fill</string>
        <string>speaker.3</string>
        <string>speaker.3.fill</string>
        <string>magnifyingglass</string>
        <string>magnifyingglass.circle</string>
        <string>magnifyingglass.circle.fill</string>
        <string>plus.magnifyingglass</string>
        <string>minus.magnifyingglass</string>
        <string>1.magnifyingglass</string>
        <string>flag</string>
        <string>flag.fill</string>
        <string>flag.circle</string>
        <string>flag.circle.fill</string>
        <string>flag.slash</string>
        <string>flag.slash.fill</string>
        <string>bell</string>
        <string>bell.fill</string>
        <string>bell.circle</string>
        <string>bell.circle</string>
        <string>bell.slash</string>
        <string>bell.slash.fill</string>
        <string>tag</string>
        <string>tag.fill</string>
        <string>tag.circle</string>
        <string>tag.circle.fill</string>
        <string>flashlight.off.fill</string>
        <string>flashlight.on.fill</string>
        <string>camera</string>
        <string>camera.fill</string>
        <string>camera.circle</string>
        <string>camera.circle.fill</string>
        <string>camera.rotate</string>
        <string>camera.rotate.fill</string>
        <string>camera.on.rectangle</string>
        <string>camera.on.rectangle.fill</string>
        <string>gear</string>
        <string>scissors</string>
        <string>scissors.badge.ellipsis</string>
        <string>wand.and.rays</string>
        <string>wand.and.rays.inverse</string>
        <string>wand.and.stars</string>
        <string>wand.and.stars.inverse</string>
        <string>crop</string>
        <string>crop.rotate</string>
        <string>dial</string>
        <string>dial.fill</string>
        <string>gauge</string>
        <string>gauge.badge.plus</string>
        <string>gauge.badge.minus</string>
        <string>speedometer</string>
        <string>metronome</string>
        <string>tuningfork</string>
        <string>paintbrush</string>
        <string>paintbrush.fill</string>
        <string>bandage</string>
        <string>bandage.fill</string>
        <string>wrench</string>
        <string>wrench.fill</string>
        <string>hammer</string>
        <string>hammer.fill</string>
        <string>eyedropper</string>
        <string>eyedropper.halffull</string>
        <string>eyedropper.full</string>
        <string>printer</string>
        <string>printer.fill</string>
        <string>briefcase</string>
        <string>briefcase.fill</string>
        <string>lock</string>
        <string>lock.fill</string>
        <string>lock.circle</string>
        <string>lock.circle.fill</string>
        <string>lock.slash</string>
        <string>lock.slash.fill</string>
        <string>lock.open</string>
        <string>lock.open.fill</string>
        <string>lock.rotation</string>
        <string>lock.rotation.open</string>
        <string>pin</string>
        <string>pin.fill</string>
        <string>pin.circle</string>
        <string>pin.circle.fill</string>
        <string>pin.slash</string>
        <string>pin.slash.fill</string>
        <string>mappin</string>
        <string>mappin.circle</string>
        <string>mappin.circle.fill</string>
        <string>mappin.slash</string>
        <string>mappin.and.ellipse</string>
        <string>map</string>
        <string>map.fill</string>
        <string>antenna.radiowaves.left.and.right</string>
        <string>guitars</string>
        <string>bed.double</string>
        <string>bed.double.fill</string>
        <string>film</string>
        <string>film.fill</string>
        <string>camera.viewfinder</string>
        <string>shield</string>
        <string>shield.fill</string>
        <string>shield.slash</string>
        <string>shield.slash.fill</string>
        <string>lock.shield</string>
        <string>lock.shield.fill</string>
        <string>checkmark.shield</string>
        <string>checkmark.shield.fill</string>
        <string>xmark.shield</string>
        <string>xmark.shield.fill</string>
        <string>exclamationmark.shield</string>
        <string>exclamationmark.shield.fill</string>
        <string>shield.lefthalf.fill</string>
        <string>cube.box</string>
        <string>cube.box.fill</string>
        <string>clock</string>
        <string>clock.fill</string>
        <string>alarm</string>
        <string>alarm.fill</string>
        <string>stopwatch</string>
        <string>stopwatch.fill</string>
        <string>timer</string>
        <string>gamecontroller</string>
        <string>gamecontroller.fill</string>
        <string>headphones</string>
        <string>gift</string>
        <string>gift.fill</string>
        <string>hourglass</string>
        <string>hourglass.bottomhalf.fill</string>
        <string>hourglass.tophalf.fill</string>
        <string>perspective</string>
        <string>aspectratio</string>
        <string>aspectratio.fill</string>
        <string>skew</string>
        <string>eyeglasses</string>
        <string>lightbulb</string>
        <string>lightbulb.fill</string>
        <string>lightbulb.slash</string>
        <string>lightbulb.slash.fill</string>
    </array>
</plist>
