<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   SFSymbol.Arrow.plist
   SFSymbolsPreview

   Created by YICAI YANG on 2020/5/28.
   Copyright (c) 2020 YICAI YANG. All rights reserved.
-->
<plist version="1.0">
    <array>
        <string>arrowshape.turn.up.left</string>
        <string>arrowshape.turn.up.left.fill</string>
        <string>arrowshape.turn.up.left.circle</string>
        <string>arrowshape.turn.up.left.circle.fill</string>
        <string>arrowshape.turn.up.right</string>
        <string>arrowshape.turn.up.right.fill</string>
        <string>arrowshape.turn.up.right.circle</string>
        <string>arrowshape.turn.up.right.circle.fill</string>
        <string>arrowshape.turn.up.left.2</string>
        <string>arrowshape.turn.up.left.2.fill</string>
        <string>location</string>
        <string>location.fill</string>
        <string>location.slash</string>
        <string>location.slash.fill</string>
        <string>location.north</string>
        <string>location.north.fill</string>
        <string>location.circle</string>
        <string>location.circle.fill</string>
        <string>location.north.line</string>
        <string>location.north.line.fill</string>
        <string>chevron.up</string>
        <string>chevron.up.circle</string>
        <string>chevron.up.circle.fill</string>
        <string>chevron.up.square</string>
        <string>chevron.up.square.fill</string>
        <string>chevron.down</string>
        <string>chevron.down.circle</string>
        <string>chevron.down.circle.fill</string>
        <string>chevron.down.square</string>
        <string>chevron.down.square.fill</string>
        <string>chevron.left</string>
        <string>chevron.left.circle</string>
        <string>chevron.left.circle.fill</string>
        <string>chevron.left.square</string>
        <string>chevron.left.square.fill</string>
        <string>chevron.right</string>
        <string>chevron.right.circle</string>
        <string>chevron.right.circle.fill</string>
        <string>chevron.right.square</string>
        <string>chevron.right.square.fill</string>
        <string>chevron.left.2</string>
        <string>chevron.right.2</string>
        <string>chevron.up.chevron.down</string>
        <string>chevron.compact.up</string>
        <string>chevron.compact.down</string>
        <string>chevron.compact.left</string>
        <string>chevron.compact.right</string>
        <string>arrow.up</string>
        <string>arrow.up.circle</string>
        <string>arrow.up.circle.fill</string>
        <string>arrow.up.square</string>
        <string>arrow.up.square.fill</string>
        <string>arrow.down</string>
        <string>arrow.down.circle</string>
        <string>arrow.down.circle.fill</string>
        <string>arrow.down.square</string>
        <string>arrow.down.square.fill</string>
        <string>arrow.left</string>
        <string>arrow.left.circle</string>
        <string>arrow.left.circle.fill</string>
        <string>arrow.left.square</string>
        <string>arrow.left.square.fill</string>
        <string>arrow.right</string>
        <string>arrow.right.circle</string>
        <string>arrow.right.circle.fill</string>
        <string>arrow.right.square</string>
        <string>arrow.right.square.fill</string>
        <string>arrow.up.left</string>
        <string>arrow.up.left.circle</string>
        <string>arrow.up.left.circle.fill</string>
        <string>arrow.up.left.square</string>
        <string>arrow.up.left.square.fill</string>
        <string>arrow.up.right</string>
        <string>arrow.up.right.circle</string>
        <string>arrow.up.right.circle.fill</string>
        <string>arrow.up.right.square</string>
        <string>arrow.up.right.square.fill</string>
        <string>arrow.down.left</string>
        <string>arrow.down.left.circle</string>
        <string>arrow.down.left.circle.fill</string>
        <string>arrow.down.left.square</string>
        <string>arrow.down.left.square.fill</string>
        <string>arrow.down.right</string>
        <string>arrow.down.right.circle</string>
        <string>arrow.down.right.circle.fill</string>
        <string>arrow.down.right.square</string>
        <string>arrow.down.right.square.fill</string>
        <string>arrow.up.arrow.down</string>
        <string>arrow.up.arrow.down.circle</string>
        <string>arrow.up.arrow.down.circle.fill</string>
        <string>arrow.up.arrow.down.square</string>
        <string>arrow.up.arrow.down.square.fill</string>
        <string>arrow.right.arrow.left</string>
        <string>arrow.right.arrow.left.circle</string>
        <string>arrow.right.arrow.left.circle.fill</string>
        <string>arrow.right.arrow.left.square</string>
        <string>arrow.right.arrow.left.square.fill</string>
        <string>arrow.turn.right.up</string>
        <string>arrow.turn.right.down</string>
        <string>arrow.turn.down.left</string>
        <string>arrow.turn.down.right</string>
        <string>arrow.turn.left.up</string>
        <string>arrow.turn.left.down</string>
        <string>arrow.turn.up.left</string>
        <string>arrow.turn.up.right</string>
        <string>arrow.uturn.up</string>
        <string>arrow.uturn.up.circle</string>
        <string>arrow.uturn.up.circle.fill</string>
        <string>arrow.uturn.up.square</string>
        <string>arrow.uturn.up.square.fill</string>
        <string>arrow.uturn.down</string>
        <string>arrow.uturn.down.circle</string>
        <string>arrow.uturn.down.circle.fill</string>
        <string>arrow.uturn.down.square</string>
        <string>arrow.uturn.down.square.fill</string>
        <string>arrow.uturn.left</string>
        <string>arrow.uturn.left.circle</string>
        <string>arrow.uturn.left.circle.fill</string>
        <string>arrow.uturn.left.circle.badge.ellipsis</string>
        <string>arrow.uturn.left.square</string>
        <string>arrow.uturn.left.square.fill</string>
        <string>arrow.uturn.right</string>
        <string>arrow.uturn.right.circle</string>
        <string>arrow.uturn.right.circle.fill</string>
        <string>arrow.uturn.right.square</string>
        <string>arrow.uturn.right.square.fill</string>
        <string>arrow.up.and.down</string>
        <string>arrow.up.and.down.circle</string>
        <string>arrow.up.and.down.circle.fill</string>
        <string>arrow.up.and.down.square</string>
        <string>arrow.up.and.down.square.fill</string>
        <string>arrow.left.and.right</string>
        <string>arrow.left.and.right.circle</string>
        <string>arrow.left.and.right.circle.fill</string>
        <string>arrow.left.and.right.square</string>
        <string>arrow.left.and.right.square.fill</string>
        <string>arrow.up.to.line.alt</string>
        <string>arrow.up.to.line</string>
        <string>arrow.down.to.line.alt</string>
        <string>arrow.down.to.line</string>
        <string>arrow.left.to.line.alt</string>
        <string>arrow.left.to.line</string>
        <string>arrow.right.to.line.alt</string>
        <string>arrow.right.to.line</string>
        <string>return</string>
        <string>arrow.clockwise</string>
        <string>arrow.clockwise.circle</string>
        <string>arrow.clockwise.circle.fill</string>
        <string>arrow.counterclockwise</string>
        <string>arrow.counterclockwise.circle</string>
        <string>arrow.counterclockwise.circle.fill</string>
        <string>arrow.up.left.and.arrow.down.right</string>
        <string>arrow.down.right.and.arrow.up.left</string>
        <string>arrow.2.squarepath</string>
        <string>arrow.2.circlepath</string>
        <string>arrow.2.circlepath.circle</string>
        <string>arrow.2.circlepath.circle.fill</string>
        <string>arrow.3.trianglepath</string>
        <string>leaf.arrow.circlepath</string>
        <string>arrow.up.right.diamond</string>
        <string>arrow.up.right.diamond.fill</string>
        <string>arrow.merge</string>
        <string>arrow.swap</string>
        <string>arrow.branch</string>
        <string>arrowtriangle.up</string>
        <string>arrowtriangle.up.circle</string>
        <string>arrowtriangle.up.circle.fill</string>
        <string>arrowtriangle.up.square</string>
        <string>arrowtriangle.up.square.fill</string>
        <string>arrowtriangle.down</string>
        <string>arrowtriangle.down.circle</string>
        <string>arrowtriangle.down.circle.fill</string>
        <string>arrowtriangle.down.square</string>
        <string>arrowtriangle.down.square.fill</string>
        <string>arrowtriangle.left</string>
        <string>arrowtriangle.left.circle</string>
        <string>arrowtriangle.left.circle.fill</string>
        <string>arrowtriangle.left.square</string>
        <string>arrowtriangle.left.square.fill</string>
        <string>arrowtriangle.right</string>
        <string>arrowtriangle.right.circle</string>
        <string>arrowtriangle.right.circle.fill</string>
        <string>arrowtriangle.right.square</string>
        <string>arrowtriangle.right.square.fill</string>
    </array>
</plist>
